@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-Regular.ttf"); }

@font-face {
  font-family: 'Satisfaction';
  src: url("../fonts/Satisfaction/Satisfaction.ttf"); }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf"); }

@font-face {
  font-family: 'IndieFlower';
  src: url("../fonts/IndieFlower/IndieFlower.ttf"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.grid {
  display: grid; }

.flex {
  display: flex; }

.container {
  width: 100%;
  margin: 0 auto; }

.mainPage {
  grid-template-columns: 1fr 5fr;
  height: 100vh; }

.sideBar {
  background-color: #242b2e; }

#logo {
  color: #fff;
  font-family: 'Satisfaction';
  font-size: 45px;
  width: 100%; }
  #logo div {
    width: 100%;
    text-align: center;
    padding-top: 40px; }

#mainNav {
  padding-top: 30px;
  font-family: 'Raleway'; }
  #mainNav ul {
    flex-direction: column; }
    #mainNav ul li {
      justify-content: center;
      padding: 10px;
      background-color: #31393d;
      border-bottom: 0.1px solid #9c9c9c; }
      #mainNav ul li:nth-child(1) {
        border-top: 0.1px solid #9c9c9c; }
      #mainNav ul li:hover {
        background-color: #22adac; }
      #mainNav ul li a {
        color: #fff; }

.mainPageContent {
  grid-template-rows: 10%  8% 80%;
  text-align: center;
  font-family: 'Montserrat'; }

h1 {
  font-family: 'IndieFlower';
  margin-bottom: 0; }

span {
  margin: 0; }

.lastPosts {
  grid-template-rows: 18% 70%; }

.postHome {
  grid-template-columns: 30% 30% 30%;
  justify-content: space-around; }

.homeItem h3 {
  color: #222222; }

.homeItem:hover .homeItemImg {
  transform: scale(1.05) translateY(-6.5px); }

.homeItem:hover .homeItemContent {
  color: #222222; }

.homeItemImg {
  height: 250px;
  background-size: cover;
  background-position: center;
  transition: transform .25s ease; }

.homeItemContent, .homeItemDate {
  color: #9c9c9c;
  transition: color .25s ease; }

div {
  grid-template-columns: repeat(3, 1fr);
  justify-content: center; }

form {
  margin-top: 60px;
  grid-column: 2 / 3;
  flex-direction: column; }
  form input {
    height: 45px;
    border-radius: 3px;
    outline: none; }
  form textarea {
    outline: none; }
  form input[type="submit"] {
    background-color: #22adac; }
